img {
float:centre;

}
#Olympian {
text-align:centre;


}
#Olympian a {
color:blue;
padding:none;
background-color:black

}
body {
text-align:centre;
font-family:"Times New Roman";
background-color: rgb(0,255,247);

}
